{% extends "layout.html" %}
{% block content %}
<img src="../static/bar.png" alt=""> <br><br>
<div>
    <h1>Welcome To National Service Scheme - Institute Portal</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if current_user.is_authenticated %}
        {% if role=='Admin' %}
            <a href="{{ url_for('admin') }}" class="nav-link btn btn-outline-dark btn-lg">Dashboard</a>
        {% elif role=='CP' %}
        <a href="{{ url_for('cp_dashboard') }}" class="nav-link btn btn-outline-dark btn-lg">Dashboard</a>
        {% elif role=='DH' %}
        <a href="{{ url_for('dh_dashboard') }}" class="nav-link btn btn-outline-dark btn-lg">Dashboard</a>
        {% elif role=='EH' %}
        <a href="{{ url_for('eh_dashboard') }}" class="nav-link btn btn-outline-dark btn-lg">Dashboard</a>
        {% elif role=='PRH' %}
        <a href="{{ url_for('prh_dashboard') }}" class="nav-link btn btn-outline-dark btn-lg">Dashboard</a>
        {% elif role=='TR' %}
        <a href="{{ url_for('tr_dashboard') }}" class="nav-link btn btn-outline-dark btn-lg">Dashboard</a>
        {% elif role=='NM' %}
        <a href="{{ url_for('nm_dashboard') }}" class="nav-link btn btn-outline-dark btn-lg">Dashboard</a>
        {% endif %}
        &nbsp; &nbsp;
        <a href="{{ url_for('logout') }}" class="nav-link btn btn-outline-dark btn-lg">Logout</a> 
        <a href="{{ url_for('about') }}" style="margin-left: 47%" class="nav-link btn btn-outline-dark btn-lg">About NSS</a> &nbsp; &nbsp; 
        <a href="{{ url_for('objective') }}" class="nav-link btn btn-outline-dark btn-lg">Objective</a>&nbsp; &nbsp;
        <a href="{{ url_for('view_events') }}" class="nav-link btn btn-outline-dark btn-lg">View Events</a>
    {% else %}
        <a href="{{ url_for('register') }}" class="nav-link btn btn-outline-dark btn-lg">Register</a> &nbsp; &nbsp;
        <a href="{{ url_for('login') }}" class="nav-link btn btn-outline-dark btn-lg">Login</a> &nbsp; &nbsp;
        <a href="{{ url_for('about') }}" style="margin-left: 47%" class="nav-link btn btn-outline-dark btn-lg">About NSS</a>&nbsp; &nbsp;
        <a href="{{ url_for('objective') }}" class="nav-link btn btn-outline-dark btn-lg">Objective</a>&nbsp; &nbsp;
        <a href="{{ url_for('view_events') }}" class="nav-link btn btn-outline-dark btn-lg">View Events</a>
    {% endif %}
</nav>

<div class="about">
    <h2 style="margin-top: 3rem;">About the Organization</h2>
    <hr />
    <hr />
    <img src="../static/organisation.jpg" style="margin-left: 10%; margin-bottom: 2rem;"  width="80%" height ="40%" alt="">
    <p>In India, the idea of involving students in the task of national service dates back to the times 
        of Mahatma Gandhi, the father of the nation. The central theme which he tried to impress upon his 
        student audience time and again, was that they should always keep before them, their social 
        responsibility. The first duty of the students should be, not to treat their period of study as 
        one of the opportunities for indulgence in intellectual luxury, but for preparing themselves for 
        final dedication in the service of those who provided the sinews of the nation with the national 
        goods & services so essential to society. Advising them to form a living contact with the community 
        in whose midst their institution is located, he suggested that instead of undertaking academic 
        research about economic and social disability, the students should do "something positive so that 
        the life of the villagers might be raised to a higher material and moral level".</p>

    <p>The post-independence era was marked by an urge for introducing social service for students, both 
        as a measure of educational reform and as a means to improve the quality of educated manpower. 
        The University Grants Commission headed by Dr. Radhakrishnan recommended introduction of national 
        service in the academic institutions on a voluntary basis with a view to developing healthy contacts 
        between the students and teachers on the one hand and establishing a constructive linkage between 
        the campus and the community on the other hand.</p>
        
    <p>The idea was again considered by the Central Advisory Board of Education (CABE) at its meeting held 
        in January, 1950. After examining the various aspects of the matter and in the light of experience 
        of other countries in this field, the Board recommended that students should devote some time to 
        manual work on a voluntary basis and that the teachers should also associate with them in such 
        work. In the draft First Five Year Plan adopted by the Government of India in 1952, the need for 
        social and labour service for students for one year was further stressed. Consequent upon this, 
        labour and social service camps, campus work projects, village apprenticeship scheme etc. were 
        put into operation by various educational institutions, In 1958, the then Prime Minister Pandit 
        Jawaharlal Nehru in his letter to the Chief-Ministers, mooted the idea of having social service 
        as a prerequisite for graduation. He further directed the Ministry of Education to formulate a 
        suitable scheme for introduction of national service into the academic institutions.</p>
        
    <p>In 1959, a draft outline of the scheme was placed before the Education Minister's Conference. The 
        Conference was unanimous about the urgent need for trying out a workable scheme for national 
        service. In view of the fact that education as it was imparted in schools and colleges, left 
        something to be desired and it was necessary to supplement it with programmes which would arouse 
        interest the social and economic reconstruction of the country. It was viewed that if the 
        objectives of the scheme were to be realized, it was essential to integrate social service with 
        the educational process as early as possible. The Conference suggested the appointment of a 
        committee to work out details of the proposed pilot project. In pursuance of these recommendations, 
        a National Service Committee was appointed under the Chairmanship of Dr. C.D. Deshmukh on August 28, 
        1959 to make concrete suggestions in this direction. The committee recommended that national 
        service for a period of nine months to a year may be made compulsory for all students completing 
        high school education and intending to enroll themselves in a college or a university. The scheme 
        was to include some military training, social service, manual labour and general education. The 
        recommendations of the Committee could not be accepted because of its financial implications and 
        difficulties in implementation.</p>
        
    <p>In 1960, at the instance of the Government of India, Prof. K.G. Saiyidain studied national service 
        by students implemented in several countries of the world and submitted his report under the title 
        "National Service for the Youth" to the Government with a number of recommendations as to what 
        could be done in India to develop a feasible scheme of social service by students. It was also 
        recommended that social service camps should be open to students as well as non-students within 
        the prescribed age group for better inter-relationship.</p>
        
    <p> The Education Commission headed by Dr. D.S. Kothari (1964-66) recommended that students at all' 
        stages of education should be associated with some form of social service. This was taken into 
        account by the State Education Minister during their conference in April 1967 and they recommended 
        that at the university stage, students could be permitted to join the National Cadet Corps (NCC) 
        which was already in existence on a voluntary basis and an alternative to this could be offered 
        to them in the form of a new programme called the National Service Scheme (NSS). Promising sportsmen, 
        however, should be exempted from both and allowed to join another scheme called the National Sports 
        Organisation (NSO), in view of the need to give priority to the development of sports and athletics.</p>
        
    <p>The Vice-Chancellors' Conference in September, 1969 welcomed this recommendation and suggested that 
        a special committee of Vice Chancellors could be set up to examine this question in detail. In the 
        statement of national policy on education of the Government of India, it was laid down that work 
        experience and national service should be an integral part of education. In May, 1969, a conference 
        of the students' representatives of the universities and institutions of higher learning convened 
        by the Ministry of Education and the University Grants Commission also unanimously declared 'that 
        national service could be a powerful instrument for national integration. It could be used to 
        introduce urban students to rural life. Projects of permanent value could also be undertaken as 
        a symbol of the contribution of the student community to the progress and upliftment of the nation.</p>
        
    <p>The details were soon worked out and the Planning Commission sanctioned an outlay budget of Rs. 5 
        crores for National Service Scheme (NSS) during the. Fourth Five Year Plan. It was stipulated that 
        the NSS programme should be started as a pilot project in selected institutions and universities.</p>
        
    <p>On September 24, 1969, the then Union Education Minister Dr. V.K.R.V. Rao, launched the NSS programme 
        in 37 universities covering all States and simultaneously requested the Chief Ministers of States 
        for their cooperation and help. It was appropriate that the programme was started during the Gandhi 
        Centenary Year as it was Gandhi Ji who inspired the Indian youth to participate in the movement for 
        India’s independence and the social upliftment of the downtrodden masses of our nation.</p>
</div>

{% endblock content %}
