{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <h2>Username : {{u.username}}</h2><br>
        <h4>Roles Assigned : <br>
            {% for role in roles %}
            {{ role.name }} <button style="margin-left: 3rem;" class="btn btn-outline-danger"><a href="{{ url_for('delete_userrole',rid=role.id,uid=u.id) }}">Delete Role</a> </button>
            <br>
            {% endfor %}
        </h4>
    </div>
    <br><br>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Add Roles : </legend><br><br>
            <h4>{{ form.name.label(class="form-control-label")}}</h4>

            {% if form.name.errors %}
        
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
        
                        </div>
            {% else %}
        
                        {{ form.name(class="form-control form-control-lg is-valid") }}
        
            {% endif %}
            Choose from : 
            {% for role in allroles %}
            {{ role }}
            {% endfor %}
            <br><br>
            {{ form.submit(class="btn btn-outline-info")}}
        </fieldset>
    </form>
{% endblock content %}