{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <h2>Username : {{u.username}}</h2><br>
        <h4>Roles Assigned : <br>
            {% for role in roles %}
            {{loop.index}}. {{ role.name }}&nbsp; &nbsp; <a href="{{ url_for('delete_userrole',rid=role.id,uid=u.id) }}" class="btn btn-outline-danger" >Delete Role</a> 
            <br>
            {% endfor %}
        </h4>
    </div>
    <br><br>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Assign Roles to <i> {{ u.username }}</i> : </legend>
            <hr>
            <h4>{{ form.name.label(class="form-control-label")}}</h4>

            {% if form.name.errors %}
        
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
        
                        </div>
            {% else %}
        
                        {{ form.name(class="form-control form-control-lg is-valid") }}
        
            {% endif %}
            Choose from : 
            {% for role in allroles %}
            {{ role }} | 
            {% endfor %}
            <br><br>
            {{ form.submit(class="btn btn-outline-success btn-lg")}}
        </fieldset>
    </form>
    <br><br><br>
    <a href="{{ url_for('admin') }}" class="btn btn-outline-dark" >Back To Dashboard</a>
{% endblock content %}