{% extends "layout.html" %}
{% block content %}
<h2> WELCOME TO ADMIN DASHBOARD!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <span style="white-space: nowrap"> <a href="{{ url_for('logout') }}" class="btn btn-outline-secondary">Logout</a></span></h2>
   <br>
<div class="content-section">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<br>
<a href="{{ url_for('all_roles') }}" class="btn btn-outline-success btn-lg">Manage Roles</a>
<br><br>
<h3 class="border-bottom mb-4">All Users In The System :-</h3>
{% if cp %}
<h4> Chairperson CP : </h4><br>
{% for v in cp %}
   {{loop.index}}. &nbsp; {{ v.username }} &nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="{{ url_for('add_roles',id=v.id) }}">View User</a><br><br>
{% endfor %}
<br>
{% endif %}
{% if eh %}
<h4>Event Head EH : </h4><br>
{% for v in eh %}
   {{loop.index}}. &nbsp; {{ v.username }} &nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="{{ url_for('add_roles',id=v.id) }}">View User</a><br><br>
{% endfor %}
<br>
{% endif %}
{% if prh %}
<h4>Public Relations Head PRH : </h4><br>
{% for v in prh %}
   {{loop.index}}. &nbsp; {{ v.username }} &nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="{{ url_for('add_roles',id=v.id) }}">View User</a><br><br>
{% endfor %}
<br>
{% endif %}
{% if dh %}
<h4>Documentation Head DH : </h4><br>
{% for v in dh %}
   {{loop.index}}. &nbsp; {{ v.username }} &nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="{{ url_for('add_roles',id=v.id) }}">View User</a><br><br>
{% endfor %}
<br>
{% endif %}
{% if tr %}
<h4>Treasurer TR : </h4><br>
{% for v in tr %}
   {{loop.index}}. &nbsp; {{ v.username }} &nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="{{ url_for('add_roles',id=v.id) }}">View User</a><br><br>
{% endfor %}
<br>
{% endif %}
{% if et %}
<h4>Event Team ET : </h4><br>
{% for v in et %}
   {{loop.index}}. &nbsp; {{ v.username }} &nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="{{ url_for('add_roles',id=v.id) }}">View User</a><br><br>
{% endfor %}
<br>
{% endif %}
{% if prt %}
<h4>Public Relations Team PRT : </h4><br>
{% for v in prt %}
   {{loop.index}}. &nbsp; {{ v.username }} &nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="{{ url_for('add_roles',id=v.id) }}">View User</a><br><br>
{% endfor %}
<br>
{% endif %}
{% if nm %}
<h4>NSS Member NM : </h4><br>
{% for v in nm %}
   {{loop.index}}. &nbsp; {{ v.username }} &nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="{{ url_for('add_roles',id=v.id) }}">View User</a><br><br>
{% endfor %}
<br>
{% endif %}
{% if rv %}
<h4>Registered Visitor RV : </h4><br>
{% for v in rv %}
   {{loop.index}}. &nbsp; {{ v.username }} &nbsp;&nbsp;&nbsp;<a class="btn btn-outline-info" href="{{ url_for('add_roles',id=v.id) }}">View User</a><br><br>
{% endfor %}
{% endif %}
<br>
</div>
<br><br><br>
<a href="{{ url_for('home') }}" class="btn btn-outline-dark" >Back To Home</a>
{% endblock content %}