{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <h4>All Roles : <br>
            <hr>
            {% for role in roles %}
            {{ role.name }} &nbsp;&nbsp; <a class="btn btn-outline-danger" href="{{ url_for('delete_role',rid=role.id) }}">Delete Role</a> <br>
            <br>
            {% endfor %}
        </h4>
    </div>
    <br><br>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Add A New Role : </legend><hr>

            {% if form.name.errors %}
        
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
        
                        </div>
            {% else %}
        
                        {{ form.name(class="form-control form-control-lg is-valid") }}
        
            {% endif %}<br>
            {{ form.submit(class="btn btn-outline-info")}}
        </fieldset>
    </form>
    <br><br><br>
<a href="{{ url_for('admin') }}" class="btn btn-outline-dark" >Back To Dashboard</a>
{% endblock content %}