{% extends "layout.html" %}
{% block content %}
<h2>WELCOME DOCUMENTATION-HEAD!</h2>
<br>
<div class="content-section">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<br>
<a href="{{ url_for('view_reports') }}" class="btn btn-outline-info btn-lg">Manage Reports</a>&nbsp;&nbsp;&nbsp;
<a href="{{ url_for('view_events') }}" class="btn btn-outline-info btn-lg">View Events</a>
<a href="{{ url_for('logout') }}" style="margin-left: 55%" class=" btn btn-outline-danger btn-lg">Logout</a><br><br>
<br>
<h3><b>Total Number of NSS Members : {{nm}}</b></h3><br>
<h4 class="border-bottom mb-4">ALL REGISTERED USERS :-</h4>
{% for user in reg_users %}
{{loop.index}}. &nbsp; {{ user.username }} &nbsp;&nbsp;&nbsp;
{% if nm < 10 %} 
    <a class="btn btn-outline-success" href="{{ url_for('nss_member',id=user.id) }}">Add NSS Member</a>
{% endif %} <br>
{% endfor %}
</div>
<br><br><br>
<a href="{{ url_for('home') }}" class="btn btn-outline-dark" >Back To Home</a>
{% endblock content %}