{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend class="border-bottom mb-4">ADD EVENT</legend>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                      {{ form.description(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for errors in form.description.errors %}
                               <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                {% else %}
                    {{ form.description(class="form-control form-control-lg is-valid") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

</div>
<br><br><br>
<h3>All Events</h3>
    <table style="width: 100%; text-align: center;">
        <tr style="font-size: 20px;">
            
                <th>No.</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
        </tr>
        <hr>
        {% for event in events %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>
                    {% if event.status == '1' %}
                        Approved
                    {% elif event.status == '0' %}
                        Not Approved
                    {% elif event.status == '2' %}
                        Changes Needed
                    {% endif %}
                </td>
            </tr>
             
        {% endfor %}
    </table>
<br><br><br>
<a href="{{ url_for('home') }}" class="btn btn-outline-dark" >Back To Home</a>
{% endblock content %}
