{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend class="border-bottom mb-4">ADD REPORTS</legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}

                {% if form.title.errors %}
                      {{ form.title(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for errors in form.title.errors %}
                               <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg is-valid") }}
                {% endif %}
                
                
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                      {{ form.description(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for errors in form.description.errors %}
                               <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                {% else %}
                    {{ form.description(class="form-control form-control-lg is-valid") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

</div>
<br><br><br>
<h3>All Reports</h3>
    <table style="width: 100%; text-align: center;">
        <tr style="font-size: 20px;">
            
                <th>No.</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th></th>
                <th></th>
        </tr>
        <hr>
        {% for report in reports %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ report.title }}</td>
                <td>{{ report.description }}</td>
                <td>
                    {% if report.status == '1' %}
                        Approved
                    {% elif report.status == '0' %}
                        Not Approved
                    {% elif report.status == '2' %}
                        Changes Needed
                    {% endif %}
                </td>
                <td><a href="{{ url_for('update_report',id=report.id) }}" class="btn btn-outline-danger" >Update Report</a></td>
                <td><a href="{{ url_for('delete_report',id=report.id) }}" class="btn btn-outline-danger" >Delete Report</a></td>
            </tr>
             
        {% endfor %}
    </table>
<br><br><br>
<a href="{{ url_for('dh_dashboard') }}" class="btn btn-outline-dark" >Back To Dashboard</a> 
{% endblock content %}
