body {
  background: #fafafa;
  color: #333333;
  margin-top: 2rem;
}

.content-section {
  background: lightgray;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
